.contact textarea {
  font-size: 15px;
  width: 80%;
  min-height: 200px;
  margin: 20px 0;
  line-height: 1.6;
  padding: 5px;
}

.contact button {
  display: block;
  margin: 0 20% 0 auto;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  border-radius: 4px;
}

.contact button:hover {
  color: yellow;
  background-color: #000;
}
